.container {
    margin-left: 1px;
}
.navbar-brand {
    padding-top: 12px;
}

.form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-label {
    text-align: right;
}

.alert {
    margin: 10px;
}

.aw-link-panel {
    float: right;
    padding: 0px;
}

.aw-titulo-panel {
    float: left;
    padding-top: 2px;
}

.form-pesquisa {
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-input{
    width:400px
}