<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Cadastro de título</title>
</head>

<section layout:fragment="conteudo">

    <form class="form" method="post" action="/titulos" th:object="${titulo}">

        <div th:replace="MensagemGeral"></div>
        <div th:replace="MensagemErro"></div>

        <div class="card">
            <div class="card-header">
                <div class="clearfix">
                    <h5 class="card-title aw-titulo-panel">Novo título</h5>
                    <a class="btn btn-link aw-link-panel" href="/titulos">Voltar para pesquisa</a>
                </div>
            </div>
            <div class="card-body">

                <input type="hidden" th:field="*{codigo}"/>

                <div class="row mb-3">
                    <label for="descricao" class="col-sm-2 form-label">Descrição</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="descricao" placeholder="Descrição" th:field="*{descricao}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="dataVencimento" class="col-sm-2 form-label">Data de Vencimento</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="dataVencimento" placeholder="Data de Vencimento" th:field="*{dataVencimento}"
                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
                               data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" autocomplete="off">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="valor" class="col-sm-2 form-label">Valor</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="valor" placeholder="Valor" th:field="*{valor}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="status" class="col-sm-2 form-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-select" aria-label="Status" id="status" name="status">
                            <option th:each="status: ${todosStatus}" th:value="${status}"
                                    th:text="${status.descricao}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2 offset-md-2">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </div>
    </form>
</section>
</html>